body{
    margin: 0;
    font-family: Montserrat;
    background:#f9f9f9;
}
/*.main{
    width: 100%;
    height: max-content;
    text-align: center;
}
.main h2{
    text-transform: uppercase;
}
p{
    font-weight: 450;
}
.information_about_compani{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.basic_principles{
    flex-grow: 3;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 4px solid #81b29a;
    border-left: none;
}
.basic_principles_information,.direction_of_activity_information,.individual_approach_information{
    width: 80%;
    height: max-content;
}
.basic_principles_information{
    padding: 20px 0px;
    margin-right: 20px;
}
.individual_approach_information{
    width: 100%;
}
.direction_of_activity_information,.individual_approach_information{
    justify-content: center;
    padding: 24px 0px;
}
.basic_principles{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.direction_of_activity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.direction_of_activity{
    flex-grow: 2;
}
.individual_approach{
    flex-grow: 3;
}*/
.main{
    width: 100%;
    height: max-content;
    text-align: center;
}
h2{
    font-size: 20px;
    text-transform: uppercase;
}
p{
    font-size: 14px;
    font-weight: 450;
}
.main_grid_block{
    width: 100%;
    height: max-content;
    position: relative;
}
.information_about_compani{
    width: 75%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.5%;
}
.basic_principles img,.direction_of_activity img,.individual_approach img{
    width: 107px;
    margin-top: 40px;
}
h3{
    font-size: 16px;
}
p{
    font-size: 14px;
    font-weight: 500;
}
.information_about_compani_line{
    position: absolute;
    left: 0;
    width: 35.5%;
    height: 100%;
    border: 5px solid #81b29a; 
    border-top-right-radius:27px;
    border-bottom-right-radius:27px;
    border-left: none;
}
/**/
.energy_supply{
    width: 85%;
    margin: auto;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 70px;
}
.circle{
    width: max-content;
    height: max-content;
    display: flex;
    margin-left: -20px;
    margin-top: -10px; 
    padding-bottom: 5px;
}
.circle div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #81b29a;
}
.circle div:not(:first-child){
    margin-left: 8px
}
.energy_supply_inform{
    width: 50%;
}
.energy_supply_inform button{
    width: 340px;
    height: 45px;
    border-radius: 10px;
    background: #81b29a;
    color: white;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    transition: .3s;
}
.energy_supply_inform button:hover{
    background: #64977e;
    transition: .3s;
}
.photo_and_circle_energy_supply{
    width: max-content;
    height: max-content;
    position: relative;
}
.photo_energy_supply{
    padding:1px;
    position:relative;
    z-index: 2;
}

.photo_energy_supply::after{
    position: absolute;
    top: 20px;
    right: 20px;
    display:block;
    width:calc(100% - 10px); 
    height:calc(100% - 10px); 
    background-color:transparent; 
    content:''; 
    border:5px solid #81b29a;
    border-radius: 45px;
}
.circle_one_energy_supply{
    z-index: 1;
    position: absolute;
    top: 320px;
    left: 60px;
    width: 150px;
    height: 150px;
    border-radius:50%;
    background: rgb(255, 211, 7, 0.7);
    box-shadow: 0px 0px 100px 69px rgba(255, 211, 7, 0.7);
}
.circle_two_energy_supply{
    z-index: 1;
    position: absolute;
    top: 100px;
    left: 250px;
    width: 150px;
    height: 150px;
    border-radius:50%;
    background: rgb(255, 211, 7, 0.7);
    box-shadow: 0px 0px 100px 69px rgba(255, 211, 7, 0.7);
}

/**/
.steps_of_work{
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
    position: relative;
    padding-bottom: 100px;
}
.steps_of_work h2{
    text-align: center;
}
.steps_of_work_grid_block_steps_inform{
    width: 80%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
}
.steps_of_work_grid_block{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.09) inset;
    border-radius:10px;
    background: white;
    z-index: 2;
}
.steps_of_work_grid_block_img{
    padding: 30px 0px;
}
.steps_of_work_grid_block h3{
    line-height: 20px;
    padding-top: 10px;
    margin: 0;
}
.steps_of_work_grid_block p{
    text-align: center;
    padding: 0px 20px;
    padding-bottom:25px;
}
.circle_one_steps_of_work{
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 15%;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: rgb(255, 211, 7, 0.7);
    box-shadow: 0px 0px 100px 69px rgba(255, 211, 7, 0.7);
}
.circle_two_steps_of_work{
    z-index: 1;
    position: absolute;
    top: 43%;
    left: 55%;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: rgba(129, 178, 154, 0.7);
    box-shadow: 0px 0px 100px 69px rgba(129, 178, 154, 0.7);
}
.circle_three_steps_of_work{
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 18%;
    width: 40px;
    height: 40px;
    border-radius:50%;
    background: rgb(255, 211, 7, 0.7);
    box-shadow: 0px 0px 100px 69px rgba(255, 211, 7, 0.7);
}
/**/

.contractual_documentation{
    text-align: center;
}
.contractual_documentation > p{
    padding-bottom: 20px;
}
.contractual_documentation_download{
    margin: auto;
    border-radius:135px;
    width: 55%;
    height: max-content;
    border:5px solid #81b29a;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contractual_documentation_download a:not(:nth-child(2n)){
    display: flex;
    align-items: center;
    width: calc(50% - 10px)
}
.contractual_documentation_download a:nth-child(2n){
    display: flex;
    align-items: center;
    width: calc(36% - 10px)
}
.contractual_documentation_download a{
    text-decoration: none;
    color:black;
}
.contractual_documentation_download p{
    padding-left: 10px;
}

.contractual_documentation_download .a{
    padding-bottom: 5px;
}
/**/
.form_electricity{
    width: 100%;
    height: max-content;
    margin-top: 30px;
}
.photo_form_electricity img{
    width: 45%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}